{% extends "master.html" %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Funcionários</title>
</head>
<body>
            <h1>Lista de Funcionários</h1>
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Matrícula</th>
                        <th>Cargo</th>
                        <th>Nível</th>
                        <th>Valor Base</th>
                        <th>Proventos</th>
                        <th>Descontos</th>
                        <th>Líquidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionario in registers %}
                        <tr>
                            <td>{{ funcionario.data }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.matricula }}</td>
                            <td>{{ funcionario.cargo }}</td>
                            <td>{{ funcionario.nivel }}</td>
                            <td>{{ funcionario.valor_base }}</td>
                            <td>{{ funcionario.proventos }}</td>
                            <td>{{ funcionario.descontos }}</td>
                            <td>{{ funcionario.liquidos }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        
    </table>
</body>
</html>

{% endblock %}