<!DOCTYPE html>
<html>
<head>
    <title>Lista de Funcionários</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.highcharts.com/css/highcharts.css">
</head>

<body>
    <h1>Lista de Funcionários</h1>
    <table class="table table-bordered" id="example" style="text-align: center;">
        <thead class="table-success">
            <tr>
                <th>Data</th>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Cargo</th>
                <th>Nível</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>

            {% for funcionario in registros %}
                <tr>
                    <td>{{ funcionario.data }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.matricula }}</td>
                    <td>{{ funcionario.cargo }}</td>
                    <td>{{ funcionario.cargo.nivel }}</td>
                    <td>{{ funcionario.cargo.salario }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'paginaMediaSalarios' %}">Gráficos e agrupamentos</a>

    <div id="demo-output" style="height: 300px;"></div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
        $(document).ready(function () {
            const table = $("#example").DataTable({
                paging: true,
                pageLength: 10,
                lengthChange: true,
                autoWidth: true,
                searching: true,
                info: true,
                ordering: true
            });

        });
    </script>
</body>
</html>
