<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.highcharts.com/css/highcharts.css">
    <title>Gráficos</title>
</head>
<body>
    <h1>Gráficos</h1>
    <table class="table table-bordered" id="example" style="text-align: center;">
        <thead class="table-success">
            <tr>
                <th>Cargos</th>
                <th>Média de Salário Por Cargo</th>
            </tr>
        </thead>
        <tbody>
            {% for cargo, media in media_por_cargo.items %}
                <tr>
                    <td>{{ cargo.cargo }}</td>
                    <td>{{ media|floatformat:"2" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <img src="data:image/png;base64,{{ image_base64 }}" alt="Gráfico de Média de Salário por Cargo" >
    <img src="{% url 'gerar_grafico_pizza' %}" alt="Gráfico de Funcionários por Escritório">


    <button id="gerarPdfButton">Relatório de Salários</button>


    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            const table = $("#example").DataTable({
                paging: true,
                pageLength: 10,
                lengthChange: false,
                autoWidth: true,
                searching: false,
                info: true,
                ordering: true
            });
        });
        
    </script>
        <script>
            $(document).ready(function () {    
                $("#gerarPdfButton").click(function () {
                    window.location.href = "{% url 'gerarPDFs' %}";
                });
            });
        </script>
</body>
</html>